In [1]:
url = 'https://oaspub.epa.gov/enviro/radnet_adhoc_where.retrieval_list?table_1=dummy&table_1=V_ERAMS_LOCATION.LOC_NUM&table_1=V_ERAMS_LOCATION.CITY_NAME&table_1=V_ERAMS_LOCATION.STATE_ABBR&table_1=V_ERAMS_LOCATION.STATION&table_1=V_ERAMS_LOCATION.SURFACE_WATER_SOURCE&table_1=V_ERAMS_LOCATION.PROJ_NUM&table_1=V_ERAMS_RESULTS_ANALYTE.ANALYTE_ID&table_1=V_ERAMS_RESULTS_ANALYTE.ANA_NUM&table_1=V_ERAMS_RESULTS_ANALYTE.RESULT_AMOUNT&table_1=V_ERAMS_RESULTS_ANALYTE.CSU&table_1=V_ERAMS_RESULTS_ANALYTE.MDC'

In [3]:
import requests

In [4]:
session=requests.Session()

In [6]:
out = session.get("https://www.epa.gov/enviro/radnet-customized-search")

In [8]:
out

```sql
SELECT DISTINCT V_ERAMS_LOCATION.LOC_NUM, V_ERAMS_LOCATION.CITY_NAME from V_ERAMS_LOCATION
```

In [11]:
url='http://www3.epa.gov/enviro/pickadhoc/1328228095.CSV'

In [12]:
out=session.get(url)

In [21]:
import io

In [22]:
stream = io.StringIO(out.text)

In [15]:
import pandas

In [23]:
pandas.DataFrame.from_csv(stream)

                         V_ERAMS_LOCATION.CITY_NAME
V_ERAMS_LOCATION.LOC_NUM
180                                       NASHVILLE
368                                      FORT WORTH
79                                        ANCHORAGE
3127                                      SAN DIEGO
964                                      ST. GEORGE
192                                         LINCOLN
159                                         WICHITA
182                                   MUSCLE SHOALS
429                                            RENO
78                                          BAYSIDE
116                                        SYRACUSE
119                                      DES MOINES
27                                       HARRISBURG
96                                    OKLAHOMA CITY
203                                        PLYMOUTH
67                                         REGION 9
5                                            DOTHAN
340                                       IOWA CITY
3091                                         LE ROY
3067                                           ROSS
135                                         LANSING
187                                          TOPEKA
202                                        KINGSTON
59                                         REGION 1
11                                         SAVANNAH
2727                                         JUNEAU
241                                         ASHFORD
3122                                          ORONO
2747                                         EDISON
2651                                       RIVERTON
...                                             ...
183                                           ANCON
113                                       CLEVELAND
49                                       PITTSBURGH
204                                      FT. PIERCE
30                                       TWO CREEKS
37                                        FAIRBANKS
186                                           BOISE
194                                        WARETOWN
108                                        PORTLAND
42                                          SEATTLE
134                                     BROAD RIVER
56                                    NIAGARA FALLS
23                                       WASHINGTON
128                                      CHARLESTON
61                                         REGION 3
2817                                          TEMPE
124                                           MINOT
66                                         REGION 8
370                                        RICHMOND
3847                                         DULUTH
2103                                       RICHMOND
3938                                        ASHLAND
4115                                         SAIPAN
2729                                     GREENSBORO
4118                                         ATHENS
446                                      MARSEILLES
3193                                 JAMAICA PLAINS
324                                          PANAMA
2906                                           BUHL
3229                                       BULL RUN

[321 rows x 1 columns]

In [27]:
url='https://iaspub.epa.gov/enviro/efservice/tri_facility/state_abbr/VA/rows/499:504/json'

In [35]:
url='https://iaspub.epa.gov/enviro/efservice/tri_facility/state_abbr/VA/count/json'

In [36]:
session.get(url).text

'[{"TOTALQUERYRESULTS":1146}]'

In [64]:
def makeurl(database,tablename,start,end):
    return "https://iaspub.epa.gov/enviro/{database}/{tablename}/JSON/rows/{start}:{end}".format_map(locals())

url=makeurl('efservice','t_design_for_environment',1,19)
out=requests.get(url)

https://iaspub.epa.gov/enviro/efservice/t_design_for_environment/JSON/rows/1:19
https://iaspub.epa.gov/enviro/efservice/t_design_for_environment/JSON/rows/1:19
https://iaspub.epa.gov/enviro/efservice/t_design_for_environment/JSON/rows/1:19

In [66]:
pandas.DataFrame(out.json())

,CATEGORY,CITY,COMPANY_NAME,PARTNERSINCE,PRODUCT_NAME,SECTOR,STATE,UPCS
0,Consumer Product,El Segundo,Fresh %26 Easy Neighborhood Market Inc.,2010,Green Things Glass Cleaner,Window/Glass Cleaners,California,None
1,Consumer Product,Fredonia,"Guy %26 O%27Neill, Inc.",2009,Green %26 Clean Green Glass Cleaner,Window/Glass Cleaners,Wisconsin,None
2,Consumer Product,Newport Beach,"ICB-PTY, Ltd.",2010,Earth Rescue Glass %26 Window Cleaner,Window/Glass Cleaners,California,None
3,Consumer Product,Cleveland,"Kinzua Environmental, Inc.",2008,WOW Glass Cleaner RTU,Window/Glass Cleaners,Ohio,None
4,Consumer Product,Franklin,"pHurity, Inc.",2008,Glass %26 High Gloss Surface Cleaner,Window/Glass Cleaners,Michigan,None
5,Consumer Product,Franklin,"pHurity, Inc.",2008,Glass %26 High Gloss Surface Cleaner Free %26 ...,Window/Glass Cleaners,Michigan,None
6,Consumer Product,Franklin,"pHurity, Inc.",2008,Glass Cleaner,Window/Glass Cleaners,Michigan,None
7,Consumer Product,Roseville,PRIDE Industries,2009,PRIDEClean Glass %26 Mirror Cleaner,Window/Glass Cleaners,California,"782900230236, 782900013013"
8,Consumer Product,Hempstead,Professional Sanitary Industries,2016,ProSan Glass Master Glass %26 Window Cleaner,Window/Glass Cleaners,New York,None
9,Consumer Product,Pleasanton,Safeway Inc.,2012,Bright Green Glass %26 Surface Cleaner,Window/Glass Cleaners,California,"843560000697, 079893200071"
10,Consumer Product,Oakland,Serenade Solutions LLC,2015,Serenade Key 64 Green Glass %26 Surface Concen...,Window/Glass Cleaners,California,1818SYM
11,Consumer Product,Oakland,Serenade Solutions LLC,2015,Serenade Key Green Glass %26 Surface Cleaner,Window/Glass Cleaners,California,1819SYM
12,Consumer Product,Framingham,"Staples Contract %26 Commercial, Inc.",2004,Sustainable Earth Glass Cleaner (RTU),Window/Glass Cleaners,Massachusetts,None
13,Consumer Product,Rochester,Wegmans,2014,Glass Cleaner,Window/Glass Cleaners,New York,77890347843
14,Consumer Product,Wood Dale,Earth Friendly Products,2008,Furniture Polish,Wood Cleaners,Illinois,"749174097316, 749174973139, 749174497314"
15,Consumer Product,Wood Dale,Earth Friendly Products,2008,WaveJet Rinse Aid,Rinse Aids,Illinois,74917497477
16,Consumer Product,Istanbul,Friendly Organic LLC-BST Ltd.,2013,Rinse Aid,Rinse Aids,None,8.68009E+12
17,Consumer Product,Santa Monica,Honest Company,2012,Honest Rinse Aid,Rinse Aids,California,None
18,Consumer Product,Newport Beach,"ICB-PTY, Ltd.",2010,Earth Rescue Auto Dishwasher Rinse Aid,Rinse Aids,California,None

In [41]:
url='https://iaspub.epa.gov/enviro/efservice/tri_facility/state_abbr/VA/rows/499:504/json'

In [83]:
def table_count(tablename):
    url= "https://iaspub.epa.gov/enviro/efservice/{tablename}/COUNT/JSON".format_map(locals())
    print(url)
    return session.get(url).json()[0]['TOTALQUERYRESULTS']

In [84]:
table_count('erm_project')

https://iaspub.epa.gov/enviro/efservice/erm_project/COUNT/JSON

1052

In [79]:
url='https://iaspub.epa.gov/enviro/efservice/ERM_RESULT/COUNT/JSON'

In [80]:
session.get(url)

In [81]:
_.text

'[{"TOTALQUERYRESULTS":504535}]'

In [77]:
table_count('efservice','t_design_for_environment')

2502

In [87]:
 
tablenames=[
    'ERM_RESULT',
    'ERM_ANALYSIS',
    'ERM_COUNT',
    'ERM_SAMPLE',
    'ERM_MATRIX',
    'ERM_LOCATION',
    'ERM_PROJECT',
    'ERM_STUDY',
    'ERM_ANALYTE',
    'ERM_ANA_PROC',
    'ERM_DET_TYPE'
]

In [88]:

for table in tablenames:
    print(table, table_count(table))

https://iaspub.epa.gov/enviro/efservice/ERM_RESULT/COUNT/JSON
ERM_RESULT 504535
https://iaspub.epa.gov/enviro/efservice/ERM_ANALYSIS/COUNT/JSON
ERM_ANALYSIS 320561
https://iaspub.epa.gov/enviro/efservice/ERM_COUNT/COUNT/JSON
ERM_COUNT 313861
https://iaspub.epa.gov/enviro/efservice/ERM_SAMPLE/COUNT/JSON
ERM_SAMPLE 274214
https://iaspub.epa.gov/enviro/efservice/ERM_MATRIX/COUNT/JSON
ERM_MATRIX 6
https://iaspub.epa.gov/enviro/efservice/ERM_LOCATION/COUNT/JSON
ERM_LOCATION 329
https://iaspub.epa.gov/enviro/efservice/ERM_PROJECT/COUNT/JSON
ERM_PROJECT 1052
https://iaspub.epa.gov/enviro/efservice/ERM_STUDY/COUNT/JSON
ERM_STUDY 10
https://iaspub.epa.gov/enviro/efservice/ERM_ANALYTE/COUNT/JSON
ERM_ANALYTE 65
https://iaspub.epa.gov/enviro/efservice/ERM_ANA_PROC/COUNT/JSON
ERM_ANA_PROC 171
https://iaspub.epa.gov/enviro/efservice/ERM_DET_TYPE/COUNT/JSON
ERM_DET_TYPE 412